<template>
  <v-container fluid>
    <v-row v-if="$apollo.loading" justify="center" align="center">
      <v-col
        justify="center"
        align="center"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12"
      >
        <v-progress-circular
          :size="70"
          :width="7"
          color="blue"
          indeterminate
        ></v-progress-circular>
      </v-col>
    </v-row>
    <v-row justify="center" align="center">
      <v-col
        v-for="item in orgs_card_data"
        :key="item.id"
        justify="center"
        align="center"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12"
      >
        <v-card outlined flat>
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">
                {{ item.id }}
                <v-btn
                  v-if="item.grid_url"
                  icon
                  :href="item.grid_url"
                  target="_blank"
                >
                  <v-icon>mdi-launch</v-icon>
                </v-btn>
              </div>
              <v-list-item-title class="headline mb-1">
                {{ item.name }}
              </v-list-item-title>
              <v-list-item-subtitle>{{ item.location }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import orgs from '~/apollo/queries/fetchOrgs'

export default {
  data: () => {
    return { orgs: [] }
  },
  apollo: {
    orgs: {
      query: orgs,
    },
  },
  computed: {
    orgs_card_data() {
      /* eslint-disable camelcase */
      return this.orgs.map(processOrgs)
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
      function processOrgs(org, index, array) {
        const orgCardDataObj = {}
        if (org.grid_institute.status === "active") {
          const gridURL = new URL(
            org.grid_institute.grid_id,
            'https://www.grid.ac/institutes/'
          ).toString()
          orgCardDataObj.grid_url = gridURL
        }
        orgCardDataObj.is_funder = org.is_funder
        orgCardDataObj.id = org.grid_institute.grid_id
        orgCardDataObj.name = org.grid_institute.name
        const address = org.grid_institute.addresses[0].address
        orgCardDataObj.location = [address.city, address.state, address.country.name]
          .filter(Boolean)
          .join(', ')
        return orgCardDataObj
      }
    },
  },
  head: {
    title: 'Funding Organizations',
  },
}
</script>
