<template>
  <v-container fluid>
    <v-row v-if="$apollo.loading" justify="center" align="center">
      <v-col
        justify="center"
        align="center"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12"
      >
        <v-progress-circular
          :size="70"
          :width="7"
          color="blue"
          indeterminate
        ></v-progress-circular>
      </v-col>
    </v-row>
    <v-row justify="center" align="center">
      <v-col
        v-for="item in programs_card_data"
        :key="item.id"
        justify="center"
        align="center"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12"
      >
        <v-card outlined flat>
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">
                {{ item.title }}
              </div>
              <v-list-item-title class="headline mb-1">
                {{ item.title }}
              </v-list-item-title>
              <v-list-item-subtitle>{{
                item.description
              }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import programs from '~/apollo/queries/fetchPrograms'

export default {
  data: () => {
    return { programs: [] }
  },
  apollo: {
    programs: {
      query: programs,
    },
  },
  computed: {
    programs_card_data() {
      /* eslint-disable camelcase */
      return this.programs.map(processPrograms)
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
      function processPrograms(program, index, array) {
        const programCardDataObj = {}
        programCardDataObj.deadline = program.deadline
        programCardDataObj.description = program.description
        programCardDataObj.document_links = program.document_links
        programCardDataObj.eligibility = program.eligibility
        programCardDataObj.keywords = program.keywords
        programCardDataObj.partner_necessary = program.partner_necessary
        programCardDataObj.title = program.title
        programCardDataObj.url_links = program.url_links
        programCardDataObj.funded_by = program.funded_by
        programCardDataObj.implemented_by = program.implemented_by
        return programCardDataObj
      }
    },
  },
  head: {
    title: 'Funding Programs',
  },
}
</script>
