<template>
  <v-app>
    <v-app-bar app dense color="blue" flat clipped-left> </v-app-bar>
    <v-navigation-drawer
      expand-on-hover
      mini-variant
      clipped
      dense
      permanent
      sticky
      outlined
      app
    >
      <v-list-item class="px-2">
        <v-list-item-avatar>
          <v-icon color="blue">{{ header.icon }}</v-icon>
        </v-list-item-avatar>
        <v-list-item-title>{{ header.title }}</v-list-item-title>
      </v-list-item>
      <v-divider></v-divider>
      <v-list dense>
        <v-list-item v-for="item of items" :key="item.title" :to="item.to">
          <v-list-item-icon>
            <v-icon>
              {{ item.icon }}
            </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>
              {{ item.title }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main clipped>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <!--    <v-footer app clipped-left></v-footer>-->
    <!--    <v-bottom-navigation app clipped-left></v-bottom-navigation>-->
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      header: { title: 'Research Database', icon: 'mdi-database' },
      items: [
        {
          title: 'Home',
          icon: 'mdi-home',
          to: '/',
        },
        {
          title: 'Organizations',
          icon: 'mdi-school',
          to: '/orgs',
        },
        {
          title: 'Programs',
          icon: 'mdi-book-open-page-variant',
          to: '/programs',
        },
      ],
    }
  },
}
</script>
