@import "variables";

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;

  .banner {
    max-height: 667px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 661px;
    // height: 70vh;

    .bgimg {
      background-repeat: no-repeat;
      background-image: url(https://cityrama.qodeinteractive.com/wp-content/uploads/2017/07/h2-slide.jpg);
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: inherit;
      z-index: 20;

      .content {
        color: $color-white;
        padding: 11em 0 70px 0;
        text-align: center;
        h1 {
          font-size: 68px;
          font-weight: 700;
          letter-spacing: -0.02em;
          line-height: 1.3em;

          @media only screen and (max-width: 680px) {
            font-size: 50px;
          }
        }
        h5 {
          font-size: 28px;
          margin-top: 7px;
          font-weight: 300;

          @media only screen and (max-width: 680px) {
            font-size: 25px;
          }
        }

        @media only screen and (max-width: 680px) {
          padding-top: 9em;
        }
      }
    }
  }
}
